# Code

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

#### Dataset : car

In [2]:
df = pd.read_csv("car_data.csv")

In [5]:
df.head(2)

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95

In [13]:
X = df[["Volume", "Weight"]]
y = df["CO2"]

In [8]:
X.head()

   Volume  Weight
0    1000     790
1    1200    1160
2    1000     929
3     900     865
4    1500    1140

In [11]:
y.head()

0     99
1     95
2     95
3     90
4    105
Name: CO2, dtype: int64

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
regr = linear_model.LinearRegression()

In [17]:
regr.fit(X, y)

LinearRegression()

# Prediction

In [18]:
predictco2 = regr.predict([[4200, 2000]])

D:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [19]:
predictco2

array([127.57869545])

# Coefficient

In [20]:
print(regr.coef_)

[0.00780526 0.00755095]

# Result Explain

In [21]:
newpredict = regr.predict([[4200, 2500]])
newpredict

D:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([131.35416908])

In [22]:
result = predictco2 + (500 * 0.00755095)
result

array([131.35417045])