In [1]:
import pandas as pd

In [2]:
data = {
    "Age": [43, 21, 25, 42, 57, 59],
    "Glucose": [99, 65, 79, 75, 87, 81]
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

   Age  Glucose
0   43       99
1   21       65
2   25       79
3   42       75
4   57       87
5   59       81

In [15]:
x = df[["Age"]]
y = df["Glucose"]

In [16]:
x

   Age
0   43
1   21
2   25
3   42
4   57
5   59

In [17]:
y

0    99
1    65
2    79
3    75
4    87
5    81
Name: Glucose, dtype: int64

In [18]:
from scipy import stats

In [20]:
# slope, intercept, r, p, std_err = stats.linregress(x, y)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
regr = LinearRegression()

In [23]:
regr.fit(x, y)

LinearRegression()

In [24]:
pred = regr.predict([[43]])

D:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [25]:
pred

array([81.7062458])