In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "Age": [67,53,32,40,35],
    "BP": [95,97,80,85,91]
}

In [3]:
df = pd.DataFrame(data)
df

   Age  BP
0   67  95
1   53  97
2   32  80
3   40  85
4   35  91

In [4]:
x = df[["Age"]]
y = df["BP"]

In [5]:
x

   Age
0   67
1   53
2   32
3   40
4   35

In [6]:
y

0    95
1    97
2    80
3    85
4    91
Name: BP, dtype: int64

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
regr = LinearRegression()

In [11]:
regr.fit(x,y)

LinearRegression()

In [16]:
df

   Age  BP
0   67  95
1   53  97
2   32  80
3   40  85
4   35  91

In [26]:
pred = regr.predict([[40]])
pred

D:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([87.59843081])

In [29]:
from sklearn.metrics import r2_score
from scipy import stats

In [32]:
score = r2_score(x, y)

In [33]:
score

-11.107703281027105